<div class="card box p-2">
  <img src="<%= game.image %>" class="card-img-top h-25" alt="<%= game.title %>">
  <div class="card-body m-2">
    <h4 class="text-break card-title h-20"><%= game.title %></h4>
      <p class="text-break h-30"><%= game.description %></p>
      <p class="text-break h-10"><%= game.category %></p>
      <p class="text-break h-10"><%= game.price %></p>
  </div>
</div>
