<div class="card box p-2">
  <div class= "container-image">
    <img src="<%= game.image %>" class="card-img-top" alt="<%= game.title %>">
  </div>
  <div class="card-body m-2">
    <h4 class="text-break card-title h-30"><%= game.title %></h4>
      <p class="text-break h-30"><%= game.description %></p>
      <p class="text-break h-10"><%= game.category.name %></p>
      <p class="text-break h-10"><%= game.price %></p>
  </div>
</div>
